.u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 519px;
  min-height: 297px;
  background-image: none;
  margin: 155px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0 6px;
}

.u-section-1 .u-form-1 {
  height: 224px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-1 .u-label-3 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-1 .u-label-4 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: -54px 12px 0 auto;
  padding: 3px 18px 4px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

